/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*** Global ***/

body {
  font-size: 16px;
  padding-top: 50px;
}

p, li, a, caption {
  font-family: $font-family-base;
}

h2, h3, h4, h5 {
  font-family: $font-family-display;
  color: $bittersweet;
}

img {
 max-width: 100%;
 height: auto;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

span#left,
span#right {
  color: #fff;
}

.centerWrap {
  position: relative;
  height: 100%;
}
.centerVert {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.jumbotron {
  border-bottom: 4px solid $dark-gray;
  border-radius: 0px;

  @include breakpoint(small) {
      padding: 0;
  }
}

.jumbotron h1 {
  color: $bittersweet;
  font-size: 50px;
  text-shadow: 1px 2px 5px $dark-gray;
  font-family: $font-family-display;
  font-weight: 600;

  @include breakpoint(small-min) {
      font-size: 60px;
  }
}

.jumbotron h2 {
  color: $lightorange;
  text-shadow: 1px 2px 5px #3c3e40;
  font-family: $font-family-text;
}

.image {
  text-align: center;
  img {
    display: inline-block;
    border-radius: 4px;
    border: 6px solid $darkCyan;
    z-index: 1;
    box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 5px 15px rgba(0,0,0,0.23);

    @include min-max-break(768px, 992px) {
      margin: 35px 0;
    }
  }
}

/**
*** Navigation
**/

.navbar-brand {
  padding: 12px 12px;
}

.navbar-inverse .navbar-toggle {
  border: 0px;
}

.navbar-inverse {
  background: $dark-gray;
  border-bottom: 4px solid $darkCyan;
  padding: 0px;
}
// logo
// .navbar-inverse .navbar-brand {
//   color: $palecyan;
//   &:hover {
//     color: $lightorange;
//   }
// }

#navbar {
  @include breakpoint(small-min) {
    flex-direction: row-reverse;
    height: 55.013px;
    margin: 0;
  }
}

.navs a {
  padding: 8px 0px;
  color: $lightorange;
  font-family: $font-family-display;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.1);
  margin: 0px 20px;
  font-size: $font-size-large;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;

  &:hover {
    color: $bittersweet;
    border-bottom: 1px solid #333;
  }

  @include breakpoint(small-min) {
    display: inline-block;
    padding: 0 18px !important;
    border-bottom: 0px solid transparent;
    margin: 0px;

    &:hover {
      border-bottom: 0px solid transparent;
    }
  }
}

// nav bar show and hide
.cd-auto-hide-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transition: transform .5s;
  z-index: 1000000;
}

.cd-auto-hide-header.is-hidden {
  transform: translateY(-100%);
}

.nav-brand {
  color: $bittersweet;
  padding-left: 12px;
  margin-bottom: 0px;
  font-size: 15px;
  @include breakpoint(small-min) {
    font-size: 18px;
  }
}

button.navbar-toggler {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  padding: 12px;
  border-radius: 0px;
  line-height: .20;
  outline: none;
}

#nav-icon {
  width: 27px;
  height: 30px;
}

#nav-icon span.icon-bar {
  background-color: $lightorange;
  display: inline-block;
  height: 2px;
  width: 100%;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}


// Hero
.jumbotron {
  margin-bottom: 0px;
  height: 225px;
  // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../img/laptop2.jpg");
  background-image: linear-gradient(rgba(60,62,64,0.6), rgba(60,62,64,0.4)),url("./../img/pexels-photo-1800.jpg");
  background-position: center 40%;
  background-size: cover;
  text-align: center;
  @include breakpoint(small-min) {
    height: 325px;
  }
}
.container-fluid .jumbotron {
    border-radius: 0px;
    width: 100%;
}

h3 {
  text-align: center;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0;
  width: 60%;
  display: inline-block;
  // margin: 34px 20% 55.013px;
  margin: 55.013px 20% 55.013px;
  line-height: normal;
  padding-top: 6px;
  text-transform: uppercase;
}

.navs, .social {
  list-style-type: none;
  padding-left: 0px;

  & a {
    text-decoration: none;
  }
}

.social a {
  display: inline-block;
}

#contact, #about {
  padding-bottom: 55.013px;
}

#contact h3, #projects h3 {
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;
}

#about h3 {
  border-top: 4px solid $alice;
  border-bottom: 4px solid $alice;
}

/**
*** Portfolio Section
**/

#portfolio {
  background-color: #363e40;
  display: none;
}

#portfolio_wrapper {
  width: 100%;
}

#pNav {
  clear: both;
  position: relative;

  h3 {
    margin-bottom: 12px;
    color: $alice;
  }
}

.previews {
  margin: 5% 0;
}

.previews img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid $alice;
  box-sizing: border-box;
}

.previews img:nth-child(2) {
  margin-top: 35px;
}

.text {
  padding-top: 0;
  margin: 5% 0;
  color: #fff;

  p {
    padding-left: 4%;
    font-family: $font-family-base;
    line-height: 1.5;
  }
}

#weblink {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 5%;
  margin-left: 0;
}

#weblink a {
 color: $palecyan;
 border: 2px solid $palecyan;
}

#weblink a:hover {
 color: $lightorange;
 text-decoration: none;
 border: 2px solid $lightorange;
}

#right{ padding-left: 34px; }

#arrows {
  cursor: pointer;
  top: 34px;
  left: 5%;
  text-align: center;
}

#close {
  position: absolute;
  cursor: pointer;
  top: 34px;
  right: 5%;
  color: $palecyan;
}

i.fa.fa-window-close {
  font-size: 36px;
  &:hover {
    color: #e3ffed;
  }
}

i.fa.fa-arrow-left,
i.fa.fa-arrow-right {
  font-size: 20px;
  &:hover {
    color: #e3ffed;
  }
}

/***
 *** Projects Section
***/

#projects {
  background: linear-gradient(to bottom, #fafafa, #f9f9fb, #f7f8fd, #f4f8fe, #f0f8ff);
  padding-bottom: 50px;
}

// .portfolio {
//   margin-bottom: 55.013px;
// }

// class of each project container div
.folio {
    // min-height: 194.10px;
    min-height: 200px;
    max-height: 400px;
    // overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 35px;

    // &:last-child {
    //   margin-bottom: 25px;
    // }
    &:hover {
      transform: translate(0px, -3px);
    }

    a:hover {
      text-decoration: none;
    }

    .projImg {
      border-radius: 4px;
      box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 5px 15px rgba(0,0,0,0.23);
      transition: .3s;
      p {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .5px;
      }
    }
}

.folio h2 {
  color: #fff;
  position: relative;
  font-size: 20px;
  padding: 10px;
  background: rgba(0,0,0,0.65);
  z-index: 10;
}

// each project gets it's own hover color
// #color-ilr {
//   background: rgba(130,96,170,0.5);
// }
//
// #color-abmg {
//   background: rgba(69,185,234,0.5);
// }
//
// #color-lnet {
//   background: rgba(112,184,93,0.5);
// }

/***
 *** About Section
***/

.image {
  margin: 30px 0 30px 0;
  @include breakpoint(small-min) {
    margin: 0;
  }
}

#about .col-md-4 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

/***
 *** Contact Section
***/

#contact {
  // background: linear-gradient(to bottom, #f0f8ff, #c0deec, #8bc6d3, #52aeb2, #00958a);
  background: linear-gradient(to top, #fafafa, #f9f9fb, #f7f8fd, #f4f8fe, #f0f8ff);
  // text-align: center;
  // p {
  //   width: 30%;
  //   margin-left: 20%;
  // }
}

.fa {
  font-size: 32px;
  transition: transform 250ms;
  cursor: pointer;
}

.fa:hover {
  color: $dark-gray;
  transform: scale(1.2);
}

.social {
  // text-align: center;
  margin-top: 30px;

  // @include breakpoint(small-min) {
  // width: 33%;
  // margin-left: 33%;
  // }
}

.social a {
  padding-right: 12px;
  text-align: center;
  color: #000;
}

.highlight {
  font-size: $font-size-large;
  line-height: 1.5;
  color: $dark-gray;

  span {
    font-weight: bold;
  }

  @include breakpoint(small-min) {
  // width: 40%;
  // margin: 20px 0 20px 30%;
  }
}

.cta {
  color: $white !important;
  background-image: linear-gradient(to bottom,#ffa47b 0,$bittersweet 100%);
  border: $dark-gray 2px solid;
  margin-top: 15px;
  font-size: 18px;
}

.btn-primary:hover, .btn-primary:focus {
    background-image: linear-gradient(to bottom,$bittersweet 0, #ffa47b 100%);
    background-position: 0;
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}
  /** Contact Form Modal **/

// #form-content {
//   padding-left: 15px;
//   background: url(../img/pineapple-supply-co-1800-opt.jpg);
//   background-position: bottom;
//   background-size: cover;
//   filter: alpha(opacity=100);
//   opacity: 1;
// }
//
// .modal-dialog {
//   max-width: 90%;
//   margin: auto;
//   // @include breakpoint(small-min){
//   //   max-width: 40%;
//   // }
//   @include breakpoint(medium-min){
//     max-width: 40%;
//   }
// }
//
// .modal-header {
//   border-bottom: 2px solid $form-gray;
// }
// .modal-header .close {
//   font-size: 34px;
//   opacity: .9;
//   color: $dark-gray;
//   outline: none;
//   &:hover {
//     opacity: .70;
//   }
// }
// .modal-body {
//   padding: 30px;
//   @include breakpoint(small-min){
//     padding: 45px;
//   }
// }
// .modal-content {
//   background-color: $alice;
//   margin-top: 100px;
//   opacity: .95;
//   // margin-left: -15px;
//
//   @include breakpoint(small-min) {
//     width: 100%;
//     // margin-left: 25%;
//     margin-top: 200px;
//   }
// }
// .modal-title {
//   font-size: 22px;
//   width: 100%;
//   padding-left: 45px;
//   margin: 0 auto;
// }
// .label {
//   display: block;
//   padding: .2em;
// }
//
// #contact .label {
//   color: $text-color;
//   text-align: left;
//   font-size: 16px;
//   font-family: $font-family-base;
//   font-weight: 600;
// }
//
// .contact {
//   @include breakpoint(small-min) {
//     width: 75%;
//     margin: 0 auto;
//   }
// }
//
// .textinput, .areainput {
//   // border-radius: 4px;
//   width: 100%;
//   margin-bottom: 25px;
//   border: none;
//   border-bottom: 2px solid $form-gray;
//   padding: 4px 8px;
//
//   &:focus {
//     border-bottom: 2px solid $lightorange;
//     // outline-color: $alice25;
//     outline: none;
//   }
// }
//
// .areainput {
//   // border-radius: 4px;
//   width: 100%;
//   height: 8em;
// }
//
// .rc-anchor-light.rc-anchor-normal {
//     transform: scale(.75);
//     margin-left: -32px;
//     @include breakpoint (medium-min){
//       transform: scale(1);
//       margin-left: 0px;
//     }
// }
//
// .modal-footer {
//   text-align: center;
// }
//
// #submit {
//     display: block;
//     color: #fff;
//     background-color: $bittersweet;
//     background-image: linear-gradient(to bottom,#ffa47b 0,$bittersweet 100%);
//     border: $dark-gray 2px solid;
//     border: 2px solid $dark-gray;
//     // margin: 0 auto;
//     font-family: $font-family-base;
//     padding: 6px 30px;
//     font-size: 18px;
//     &:hover {
//       background-color: $lightorange;
//       background-image: linear-gradient(to bottom,$bittersweet 0, #ffa47b 100%);
//       background-position: 0;
//       -webkit-transition: background-image 2s ease-in-out;
//       transition: background-image 2s ease-in-out;
//     }
//   }
